{% extends 'base.html.twig' %}

{% block content %}
    <!-- New Product -->
    <section class="newproduct bgwhite p-t-45 p-b-105">
        <div class="container">
<!-- New Product -->
<section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">

        <h1>Inscription</h1>
        {{ form_start(loginFrom) }}
        {{ form_widget(loginFrom) }}
        <button class="btn btn-success">Inscription</button>
        {{ form_end(loginFrom) }}
        <br>
        <br>
    </div>
    </div>


</section>


{% endblock %}